.navbar{
  justify-content: space-between;
}

span{
  padding-right: 1rem;
}
  
header {
  width: 100%;
  padding: 5px 40px;
  box-shadow: 0 2px 3px #f0f0f0;
  display: inline-block;
  background-color: #1a90b0;
  color: #fff;
  h1 {
    margin: 5px 0;
    padding: 0 5px;
  }
  button {
    color: #fff;
  }
}

.img-profile {
  width: 40px;
  max-width: 0 10px;
  border-radius: 50%;
}