<mat-toolbar  class="navbar">
  <ul>
    <li><a href="#home">Home</a></li>
    <li><a href="#news">News</a></li>
    <li><a href="#contact">Contact</a></li>
    <li><a href="#about">About</a></li>
  </ul>
  <div>
    <button mat-button [matMenuTriggerFor]="menu">
     <h3> احمـــــد غــــازى </h3>
      <img
        class="img-profile"
        src="../../../../assets/59566329_2195377903850587_6023771841154252800_n.jpg"
      />
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Profile</button>
      <button mat-menu-item (click)="logOut()">Logout</button>
    </mat-menu>
  </div>
</mat-toolbar>